@import "components/navbar.css";
@import "components/project_card.css";
@import "components/pill.css";
@import "components/skill_list.css";
@import "components/form.css";
@import "components/bouncing_button.css";
@import "components/landing_page.css";
@import "components/about_me.css";

/* main */
html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  background-color: white;
  margin: 0px;
}

main {
  width: 80%;
  margin: 0 auto;
}

/* headers */
h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

#projects, #about, #contact {
  padding-top: 30px;
}

header {
  height: calc(100vh - 74px);
}

/* links */
a {
  text-decoration: none;
  opacity: 0.7;
  font-weight: 700;
}

a:link {
  color:black;
  opacity: 0.7;
}

a:visited {
  color: black;
  opacity: 0.7;
}

a:hover {
  color: black;
  opacity: 1;
}

/* icons */

i {
  transition: 0.5s;
}

i:hover {
  transform: scale(1.02);
}

/* Project section */

.project-container {
  height: 100vh;
}

/* about me section */

.about-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-container {
  height: 50vh;
}

footer {
  text-align: center;
  padding: 1.5em;
  color:lightgray
}
