@import "components/navbar.css";
@import "components/project_card.css";
@import "components/pill.css";

/* main */
html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: white;
  margin: 0px;
}

main {
  width: 80%;
  margin: 0 auto;
}

/* headers */
h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

#projects, #about, #contact {
    padding-top: 30px;
}

header {
  height: calc(100vh - 74px);
}

/* links */
a {
  text-decoration: none;
  opacity: 0.7;
  font-weight: 700;
}

a:link {
  color:black;
  opacity: 0.7;
}


a:visited {
  color: black;
  opacity: 0.7;
}

a:hover {
  color: black;
  opacity: 1;
}

/* about me section */

.landing-container {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
}

/* arrow down effect */
#bouncing-button {
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-delay: 3.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}

@keyframes bounce{
     from {transform: translateY(0);}
     to   {transform: translateY(-10px);}
}

footer {
  text-align: center;
  padding: 1.5em;
}
