.about-description {
  margin-bottom: 16px;
  display: flex;
}

.about-description p {
  padding-right: 22px;
}

.about-description img {
  width: 200px;
  border-radius: 50%;
  filter: grayscale(100%);
}

.about-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem 1rem;
}

.description {
  display: flex;
  align-items: center;
}

#image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#download-button {
  text-align: center;
  margin: 16px;
}

#download-badge {
  font-size: large;
}
