.about-description {
  margin-bottom: 16px;
}

.about-description p {
  padding-right: 22px;
}

.about-skills img {
  width: 200px;
  border-radius: 50%;
  filter: grayscale(100%);
}

.description {
  display: flex;
  align-items: center;
}

#image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.item-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem 1rem;
}

.item-2{
  display: flex;
  justify-content: center;
}
#download-badge {
  font-size: large;
}
