.about-description {
  margin-bottom: 16px;
}
.about-description img {
  width: 200px;
  border-radius: 50%;
  filter: grayscale(100%);
}
.about-skills {
  text-align: center;
}

.description {
  display: flex;
  align-items: center;
}

#image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#download-button {
  text-align: center;
  margin: 22px;
}

#download-badge {
  font-size: 32px;
}
