form {
  width: 100%;
  margin: 16px 0px;
}

textarea, input {
  width: 100%;
  margin-bottom: 16px;
  border: 0.1px solid lightgray;
  box-shadow: 2px 4px 10px rgb(0 0 0 / 8%);
  padding-left: 16px;
  border-radius: 5px;
  color: black;
}

.half-container {
  display: flex;
  justify-content: space-between;
}

.half-container input {
  width: 48%;
}

.form-button {
  display: flex;
  justify-content: center;
}
