/* landing page section */

.landing-container {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes bounce{
     from {transform: translateY(0);}
     to   {transform: translateY(-10px);}
}
