/* projects */

.project-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem 1rem;

}

.project-card {
  padding: 10px;
  box-shadow: 2px 4px 10px rgb(0 0 0 / 8%);
  transition: 0.5s;
  text-align: center;
}

.project-card img {
  height: 260px;
}
