/* projects */

.project-card-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem 1rem;

}

.project-card {
  font-size: 16px;
  padding: 10px;
  box-shadow: 2px 4px 10px rgb(0 0 0 / 8%);
  transition: 0.4s;
  text-align: center;
}

.project-card:hover {
  transform: scale(1.02);
}

.project-card img {
  height: 260px;
  border-radius: 5px;
}
